/* General form styles */
form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Form row styling */
  .form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  /* Form group styling */
  .form-group {
    flex: 0 0 48%; /* Adjust the width of each form group */
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  
  /* Label styling */
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
  }
  
  /* Input styling */
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="file"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    transition: border-color 0.3s ease;
  }
  
  .form-group input[type="text"]:focus,
  .form-group input[type="email"]:focus,
  .form-group input[type="file"]:focus {
    border-color: #66afe9;
    outline: none;
  }
  
  /* Image preview styling */
  .image-preview {
    max-width: 40%;
    height: auto;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    background-color: #fff;
  }
  
  /* Submit button styling */
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  button[type="submit"] {
    display: block;
    width: 30%;
    padding: 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  button[type="submit"]:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  